################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HillLab_Demo/bin/Debug
/HillLab_Demo/obj/x86/Debug
